/* 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-normal> {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

*{
    margin: 0rem;
    padding: 0rem;
    /* background-color: #f7f7f7; */
}
body{
    background-color: #f7f7f7;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: antiquewhite; */
    padding: 10px;
}
.logo-title{
    display: flex;
    align-items: center;
    
}

.anchors a{
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
}
.primary-btn{
    height: 3.1rem;
    width: 11rem;
    text-align: center;
    background-color: #FEA301;
    border-radius: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.logo-title .title{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
}

.bar{
    background-color: antiquewhite;
}

/* Hero Section Style */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px;
    width: 80%;
    margin: 0px auto;
}
.hero-title{
    font-size: 3.0rem;
}
.hero-content{
    /* width: 30%; */
    width: 640px;

}
.hero-paragraph{
    font-size: 1.25rem;
    /* font-weight: 500; */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.hero-btn{
    background-color: black;
    font-size: 1rem;
    width: 30%;
}

/* Standard Styles */
.standard-section{
    margin-top: 100px;
    background-color: antiquewhite;
    width: 80%;
    height: 800px;
    margin: 0px auto;
    background-image: url(../assets/bg.png);
    display: flex;
    flex-direction: column;
}

.standar-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.standard-container{
  display: flex;
  padding: 20px;
  gap: 20px;
}
.standard-box{
   height: 400px;
   width: auto;
   background-color: #f7f7f7;
   padding: 1.25rem;
   text-align: center;
}
.standard-box .image{
    text-align: center;
    margin-bottom: 2rem;
}
.box-content{
    width: 70%;
    margin: 0px auto;
    
}

















/* Media Queries */
@media screen and (max-width: 576px) {
    nav{
        flex-direction: flex-start;
        position: relative;
        justify-content: space-between;
        padding: 0rem;
        margin-top: 1rem;
    }
   .bar > i{
    font-size: 2rem;
   }
    .nav-btn{
        position: absolute;
        right: 30px;
        display: none;
    }
    nav a{
        display: none;
    }
    .logo-title .title{
        display: none;
    }
    .bar{
        position: absolute;
        top: 30px;
        right: 50px;
    }

    /* Hero */
    .hero-section{
        flex-direction: column-reverse;
        padding: 0px;
    }
    .hero-content{
        width: 100%;
        text-align: center;
     
    }
    .hero-title{
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: 0.3px;
    }
   .hero-paragraph{
        font-size: 1rem;
        letter-spacing: 0.3px;
   }
    .hero-image{
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 3rem;
    }
    .hero-image > img{
        width: 100%;
    }
    .hero-btn{
        width: 40%;
    }
    
}